@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Patrick+Hand&family=Quicksand:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
    color: #fff
}

body {
    background: #212121;
    padding: 1rem;
    color: #fff;
}

body.dark {
    background-color: #212121;
    color: #fff;
}

.sidenav {
    margin: 10px;
    height: auto;
    width: 12.5rem;
    position: fixed;
    border-radius: 10%;
    bottom: 0;
    left: 0;
    /* From https://css.glass */
    background: rgba(239, 239, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.1px);
    -webkit-backdrop-filter: blur(9.1px);
    border: 1px solid rgba(239, 239, 255, 0.3);
    align-items: center;
    justify-content: center
        /* overflow-x: hidden; */
}

.container {
    max-width: 60vw;
    height: 70vh;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;

}

.bars_container {
    display: flex;
    flex-direction: row;
}

.bar {
    width: 2px;
    background-color: #56697b;
    margin: 0 0.8px;
    transition: height 0.5s ease-in-out;
}

.buttons_container {
    padding: 1.5rem;
}

.buttons_container>button,
select {
    margin: 1rem 0;
    width: 150px;
    text-align: center;
    height: 30px;
    background-color: #677685;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#slider {
    width: 150px;
}

button:hover {
    background-color: #56697b;
}

h1 {
    padding: 2rem;
    text-align: center;
    color: #fff;
}

h1.dark {
    color: white
}

footer {
    font-size: 0.8rem;
    text-align: center;
}

@media only screen and (max-width: 600px) {

    .sidenav {
        margin: 3px;
        height: auto;
        width: 9rem;
        position: fixed;
        border-radius: 10%;
        bottom: 0;
        left: 0;
        padding: 0;
        font-size: 0.5rem;
        /* Glassmorphism */
        background: rgba(239, 239, 255, 0.19);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.1px);
        -webkit-backdrop-filter: blur(9.1px);
        border: 1px solid rgba(239, 239, 255, 0.3);
        align-items: center;
        justify-content: center
    }

    .container {
        max-width: 70vw;
        height: 70vh;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 20px 0px;
        overflow: auto;
    }

    .buttons_container>button,
    select {
        margin: 0.3rem 0;
        width: 100px;
        text-align: center;
        height: 20px;
        background-color: #677685;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 0.5rem;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }

    #slider {
        width: 100px;
    }

    footer {
        font-size: 0.4rem;
        text-align: center;
    }
}